.navbar{
  padding: 4%;
  display: flex;
  align-items: center;
}
.dropdown-btn{
  background-color: dodgerblue;
  color: white;
}
.category-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--neutral-color);
}

.button.selected-category-button {
  background-color: var(--primary-color);
}

.button.unselected-category-button,
.button.unselected-category-button:visited {
  background-color: var(--neutral-color);
}

.button.unselected-category-button:hover,
.button.unselected-category-button:active {
  background-color: var(--primary-color);
}

.icon{
  font-size: 40px;
}

.cart{
  font-size: 20px;
}

.text-logo{
  font-size: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.header-dropdown{
  padding-left: 16%;
  float: right;
}

.dropdown-btn{
  box-sizing: border-box;
  width: 120px;
  height: 35px;
  left: 556px;
  top: 14px;

  background: #87CEFA;
  border: 1px solid #000000;
  border-radius: 10px;
  color: black;
}

.dropdown-btn:hover {
  background-color: white;
  cursor: pointer;
}
